.background-customizable {
  background-color: #fff;
  box-shadow: 0 0 0 9999px #fff;
}

.banner-customizable {
  background-color: #fff;
  padding: 0;
}

/* Inputs */

.inputField-customizable {
  background: #fff;
  border: 1px solid #1e40af;
  border-radius: 10px;
  color: #3B3B3B;
  padding: 12px;
}

/* Button */

.submitButton-customizable {
  background: linear-gradient(90deg, #3b82f6, #2563eb);
  border-radius: 999px;
  border: none;
}

/* Labels */

.label-customizable {
  color: #3B3B3B;
}

.textDescription-customizable {
  color: #3B3B3B;
}

.redirect-customizable {
  color: #3B3B3B;
}